name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  rust-build:
    name: Rust
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Run cargo build
        run: cargo build
      - name: Run cargo test
        run: cargo test
      - name: Run cargo clippy
        run: cargo clippy --no-deps
      - name: Run cargo doc
        run: cargo doc --no-deps
